page-login {
    .item-md {
        padding-left: 0;
    }

    .create-account {
        margin-top: 20px;
    }

    .create-account > span {
        color: #777;
        display: inline-block;
        margin-right: 10px;
    }

}
