page-appointment {

  .titleOffers{
    background-color: #f8f8f8;
    text-align: center;
    margin: 0;
    border-top: 0;
    margin-bottom: 25px;
  }

  .sliding{
    border-bottom: solid 1px #f8f8f8;
  }

  .options{
    border: 0;
  }
}
