page-appointment {

  .titleOffers{
    background-color: #f8f8f8;
    text-align: center;
    margin: 0;
    border-top: 0;
    margin-bottom: 25px;
  }

  .options{
    border: 0;
  }

  .icon-calendar{
    color: #9E9E9E;
  }

}
