header-content {

    ion-title {
        display: none;
    }

    .credit-info {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    img {
        padding: 5px;
        margin: auto;
        display: block;
    }

    .back-button.show-back-button {
        display: inline-block;
        position: absolute;
        z-index: 1;
    }
}
