<ion-header>
  <ion-navbar>
      <ion-title>
        Mot de passe oublié
      </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form (ngSubmit)="askForResetPassword()" [formGroup]="forgottenPasswordForm">
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="input-error" *ngIf="emailCtrl.touched && emailCtrl.hasError('required')">
      L'email est requis
    </div>
    <div class="input-error" *ngIf="emailCtrl.touched && emailCtrl.hasError('email') && !emailCtrl.hasError('required')">
      Mauvais format d'email
    </div>
    <div class="input-error" *ngIf="emailCtrl.touched && emailCtrl.hasError('pattern') && !emailCtrl.hasError('required')">
      L'email doit finir par @etu.univ-valenciennes.fr ou @univ-valenciennes.fr
    </div>
    <br/>
    <button ion-button [disabled]="forgottenPasswordForm.invalid" type="submit" >Suivant   <ion-icon name="arrow-forward"></ion-icon></button>
  </form>
</ion-content>
