<ion-header>

  <header-content title="Recherche" ></header-content>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="startSearch()" [formGroup]="searchFilters">
    <ion-item>
      <ion-label color="primary" stacked>Mots clés</ion-label>
      <ion-input type="text" formControlName="keywords"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Domaines</ion-label>
      <ion-select multiple="true" cancelText="Annuler" okText="Ok" formControlName="domains">
        <ion-option *ngFor="let domain of domainsList" [value]="domain.id">{{domain.domainName}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-range min="1" max="5" step="1" dualKnobs="true" pin="true" formControlName="duration" class="no-padding">
        <ion-label range-left>Durée | {{searchFilters.value.duration.lower}}h </ion-label>
        <ion-label range-right> {{searchFilters.value.duration.upper}}h</ion-label>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label>Enseignant </ion-label>
      <ion-toggle checked="true" formControlName="teacher"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Etudiant</ion-label>
      <ion-toggle checked="true" formControlName="student"></ion-toggle>
    </ion-item>

    <ion-label *ngIf="!searchFilters.value.teacher && !searchFilters.value.student" color="danger" text-center>Merci de choisir étudiant, professeur ou les deux</ion-label>

    <button ion-button full type="submit" [disabled]="!searchFilters.value.teacher && !searchFilters.value.student">Rechercher</button>
  </form>
</ion-content>
