page-lesson-search {

  .no-padding{
    padding: 0px !important;
  }

  .offers-list-item {
      cursor: pointer;
      padding-left: 0;
  }

  h2 span {
      font-weight: 400;
      font-size: 0.8em;
      color: #ababab;
      position: relative;
      top: -1px;
      margin-left: 10px;
  }

  .list-md .item-block .item-inner {
      padding-left: 16px;
  }

  [text-nowrap] {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
  }

  .row {
    position: relative;
  }

  .div-toggle {
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
  }

  .div-toggle.toggle-open {
    height: 270px;
  }

  #showToggle {
    transform: rotate(0);
    transition: transform .5s ease;
    position: absolute;
    right: 0;
    top: 20px;
  }

  #showToggle.toggle-open {
    transform: rotate(-90deg);
  }
}
