page-profil {

}

.profile-img{
  width: 200px;
  height: 200px;
}

.name-style{
  font-size: 18px;
  font-weight: bold;
}

.birthdate-role-style{
  font-style: italic;
  font-size: 16px;
}

.header{
  background-color: #f8f8f8;
  font-weight: bold;
}

.no-padding{
  padding: 0px !important;
}

.middle{
  font-size: 13px;
  height: 100%;
  padding: 0px;
  vertical-align: middle;
  width: 100%;
}

.icon-size{
  font-size: 30px;
}

.icon-validate{
  text-align: right;
}
