page-notification {
    .item-md {
        padding-left: 0;
    }

    .list-md .item-block .item-inner {
        padding-left: 16px;
    }

    .float-right {
      float: right;
    }

    ion-label {
      margin-top: 5px !important;
      margin-bottom: 0 !important;
    }

    ion-list-header {
      border: 0 !important;
      margin-bottom: 5px !important;
    }
}
