<ion-header>

  <header-content title="Notification"></header-content>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row align-items-center justify-content-center>
      <ion-col col-xs-12 col-sm-6 col-md-4>
        <ion-list>
          <ion-list-header>
           Nouvelles Notifications
          </ion-list-header>
          <ion-item *ngFor="let notif of notifList">
            <h2>
              {{notif.title}}   {{notif.creationDate | date:'dd/MM/y'}}
              <button class="float-right" ion-button color="secondary" round (click)="validateNotification(notif.id)">
                <ion-icon name="checkmark" large></ion-icon>
              </button>
            </h2>
            <p>{{notif.content}}</p>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-list-header>
           Anciennes Notifications
          </ion-list-header>
          <ion-item *ngFor="let notif of oldNotifList">
            <h2>
              {{notif.title}}   {{notif.creationDate | date:'dd/MM/y'}}
            </h2>
            <p>{{notif.content}}</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
