<ion-header>

  <header-content title="Demandes en attente" ></header-content>

</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="retrieveData($event)">
    <ion-refresher-content>

    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header>
    Demandes à approuver
   </ion-list-header>
    <ion-item-sliding *ngFor='let request of pendingRequests'>
      <ion-item>{{request.firstName}} {{request.lastName}} - {{request.offer}}</ion-item>
      <ion-item-options class="options">
        <button ion-button color="secondary" icon-left (click)="addStudent(request)">
          <ion-icon name="checkmark" large></ion-icon>
        </button>
        <button ion-button color="danger" icon-left (click)="showConfirm(request)">
          <ion-icon name="close" large></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-list-header>
    Mes demandes en attente d'approbation
   </ion-list-header>
    <ion-item-sliding *ngFor='let request of myPendingRequests'>
      <ion-item>{{request.offer.title}} par {{request.offer.user.userFirstName}} {{request.offer.user.userName}}</ion-item>
      <ion-item-options class="options">
        <button ion-button color="danger" icon-left (click)="showConfirmUnsub(request.id)">
          <ion-icon name="trash" large></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
