page-offer-details {

    .fixed-content {
        margin-bottom: 106px;
    }

    h2 span {
        font-weight: 400;
        font-size: 0.8em;
        color: #ababab;
        position: relative;
        top: -1px;
        margin-left: 10px;
    }

    .subscribe {
        position: fixed;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
    }

    .padding-right{
      padding-right: 5px;
    }

    .title-style{
      font-size: 18px;
      font-weight: bold;
    }

    .no-credit {
        text-align: center;
    }

}
