<ion-header>

  <header-content [title]="offer.title"></header-content>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center class="title-style">{{offer.title}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            {{ offer.description }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-icon name="contact" class="padding-right"></ion-icon>
            {{ offer.user?.userFirstName }} {{offer.user?.userName}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-icon name="timer" class="padding-right"></ion-icon>
            {{ offer.duration }} h
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-icon name="book" class="padding-right"></ion-icon>
            {{offer.domain?.domainName}}
          </ion-col>
        </ion-row>
        <ion-row>
          <button *ngIf="userService.getUser()?.userMail !== offer.user?.userMail" ion-button round (click)="goToProfilePage(offer.user?.id)">Voir le profil utilisateur</button>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let mark of offer.remarks">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            {{ mark.text }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item text-center>
              <span *ngFor="let star of starsDefinition(mark.grade)">
              <span [ngSwitch]="star">
                <span *ngSwitchCase="1">
                  <ion-icon name="star" class="icon-size"></ion-icon>
                </span>

              <span *ngSwitchCase="0.5">
                  <ion-icon name="star-half" class="icon-size"></ion-icon>
                </span>

              <span *ngSwitchDefault>
                  <ion-icon name="star-outline" class="icon-size"></ion-icon>
                </span>
              </span>
              </span>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <button *ngIf="userService.getUser()?.credit >= offer.duration && userService.getUser()?.userMail !== offer.user?.userMail; else noCredit"
    ion-button round class="subscribe" icon-left (click)="subscribe(offer.id)">Je m'inscris</button>
  <ng-template #noCredit>
    <h6 class="no-credit" *ngIf="userService.getUser()?.userMail !== offer.user?.userMail; else currentUser"> Vous ne disposez plus d'assez de crédits pour souscrire à cette offre !</h6>
  </ng-template>
  <ng-template #currentUser>
    <h6 class="no-credit"> Vous ne pouvez pas vous inscrire à votre offre !</h6>
  </ng-template>
</ion-content>