<ion-header>
  <ion-navbar>
      <ion-title>
        Réinitialisation
      </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h5>Réponse à la quesion secrète : {{questionLabel}} ?</h5>
  <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">
    <ion-item>
      <ion-label floating>Réponse</ion-label>
      <ion-input type="text" formControlName="answer"></ion-input>
    </ion-item>
    <div class="input-error" *ngIf="answerCtrl.touched && answerCtrl.hasError('required')">
        La réponse à la question secrète est requise
    </div>
    <div formGroupName="passwordForm">
      <ion-item>
        <ion-label floating>Nouveau mot de passe</ion-label>
        <ion-input type="password" formControlName="newPassword"></ion-input>
      </ion-item>
      <div class="input-error" *ngIf="newPasswordCtrl.touched && newPasswordCtrl.hasError('required')">
          Le nouveau mot de passe est requis
      </div>
      <ion-item>
        <ion-label floating>Répéter nouveau mot de passe</ion-label>
        <ion-input type="password" formControlName="newPasswordRepeat"></ion-input>
      </ion-item>
      <div class="input-error" *ngIf="newPasswordRepeatCtrl.touched && newPasswordRepeatCtrl.hasError('required')">
          La répétition du nouveau mot de passe est requise
      </div>
      <div class="input-error" *ngIf="passwordForm.touched && passwordForm.hasError('matchingError')">
          Les mots de passe ne correspondent pas
      </div>
    </div>
    <br/>
    <button ion-button [disabled]="resetPasswordForm.invalid" type="submit" >Réinitialiser le mot de passe</button>
  </form>
</ion-content>
