<div>
  <ion-searchbar
    [showCancelButton]="shouldShowCancel"
    (ionInput)="getSkills($event)"
    animated="true"
    placeholder="Rechercher une compétence">
  </ion-searchbar>
  <ion-list>
    <ion-item class="selectionnable_item" (click)="onClickSkill(skill)" *ngFor="let skill of skills">
      {{ skill }}
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <h6 class="align-with-ion-item">Liste des compétences sélectionnées</h6><ion-icon (click)="addSkill()" class="add-icon" name="add"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-list>
      <div *ngFor="let selectedSkill of selectedSkills; let i = index">
        <ion-row>
          <ion-col col-12 col-md-6>
            <ion-item>
              <ion-label floating>Compétence {{i + 1}}</ion-label>
              <ion-input readonly="{{!selectedSkill.customSkill}}" type="text" [(ngModel)]="selectedSkill.skillLabel"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-12 col-md-6>
            <ion-range class="align-with-input" [(ngModel)]="selectedSkill.skillMark" max=5 min=0 snaps="true" step="1"></ion-range>
          </ion-col>
        </ion-row>
        <ion-icon (click)="deleteSkillFromList(i)" class="delete-icon" name="close"></ion-icon>
      </div>
    </ion-list>
  </ion-grid>
</div>
