<ion-header>
  <ion-navbar>
    <ion-title>
      {{isUpdating ? "Modification du compte" : "Création d'un compte"}}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row align-items-center justify-content-center>
      <ion-col col-xs-12 col-sm-6 col-md-4>
        <form (ngSubmit)="createAccount()" [formGroup]="createAccountForm">
            <h5 class="align-with-ion-item no-margin-bottom">
                Informations
            </h5>
            <ion-row align-items-center justify-content-center>
                  <ion-col>
                        <ion-item>
                            <ion-label color="primary" stacked>Nom</ion-label>
                            <ion-input type="text" formControlName="lastname"></ion-input>
                        </ion-item>
                        <div class="input-error" *ngIf="lastnameCtrl.touched && lastnameCtrl.hasError('required')">
                            Le nom est requis
                        </div>
                  </ion-col>
            </ion-row>

            <ion-row align-items-center justify-content-center>
                  <ion-col>
                        <ion-item>
                            <ion-label color="primary" stacked>Prénom</ion-label>
                            <ion-input type="text" formControlName="firstname"></ion-input>
                        </ion-item>
                        <div class="input-error" *ngIf="firstnameCtrl.touched && firstnameCtrl.hasError('required')">
                          Le prénom est requis
                        </div>
                  </ion-col>
            </ion-row>

            <ion-row align-items-center justify-content-center>
                  <ion-col>
                        <ion-item>
                            <ion-label color="primary" stacked>Date de naissance</ion-label>
                            <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" formControlName="birthdate"></ion-datetime>
                        </ion-item>
                  </ion-col>
            </ion-row>

            <ion-row align-items-center justify-content-center>
                  <ion-col>
                        <ion-item>
                            <ion-label color="primary" stacked>Téléphone</ion-label>
                            <ion-input type="text" formControlName="phoneNumber"></ion-input>
                        </ion-item>
                  </ion-col>
            </ion-row>

            <ion-row align-items-center justify-content-center>
                  <ion-col>
                        <ion-item>
                            <ion-label color="primary" stacked>Email</ion-label>
                            <ion-input type="email" formControlName="email"></ion-input>
                        </ion-item>
                        <div class="input-error" *ngIf="emailCtrl.touched && emailCtrl.hasError('required')">
                            L'email est requis
                        </div>
                        <div class="input-error" *ngIf="emailCtrl.touched && emailCtrl.hasError('email') && !emailCtrl.hasError('required')">
                            Mauvais format d'email
                        </div>
                        <div class="input-error" *ngIf="emailCtrl.touched && emailCtrl.hasError('pattern') && !emailCtrl.hasError('required')">
                            L' email doit finir par @etu.univ-valenciennes.fr ou @univ-valenciennes.fr
                        </div>
                  </ion-col>
            </ion-row>
            <ion-row align-items-center justify-content-center>
              <ion-col>
                <ion-item>
                  <ion-label>Formation</ion-label>
                  <ion-select submitText="Okay" cancelText="Cancel" formControlName="formation">
                    <ion-option *ngFor="let form of formationList" [value]="form.id">{{form.label}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <div formGroupName="passwordForm">
                  <ion-row align-items-center justify-content-center>
                        <ion-col>
                              <ion-item>
                                  <ion-label color="primary" stacked>{{isUpdating ? "Nouveau mot de passe" : "Mot de passe"}}</ion-label>
                                  <ion-input type="password" formControlName="password"></ion-input>
                              </ion-item>
                              <div class="input-error" *ngIf="passwordCtrl.touched && passwordCtrl.hasError('required')">
                                  Le mot de passe est requis
                              </div>
                        </ion-col>
                  </ion-row>
                  <ion-row align-items-center justify-content-center>
                        <ion-col>
                              <ion-item>
                                    <ion-label color="primary" stacked>Répeter {{isUpdating ? "nouveau" : ""}} mot de passe</ion-label>
                                    <ion-input type="password" formControlName="repeatPassword"></ion-input>
                              </ion-item>
                              <div class="input-error" *ngIf="passwordCtrl.touched && passwordCtrl.hasError('required')">
                                  Le mot de passe est requis
                              </div>
                              <div class="input-error" *ngIf="repeatPasswordCtrl.touched && repeatPasswordCtrl.hasError('required')">
                                  La répétition de mot de passe est requise
                              </div>
                              <div class="input-error" *ngIf="passwordForm.touched && passwordForm.hasError('matchingError')">
                                  Les mots de passe ne correspondent pas
                              </div>
                        </ion-col>
                  </ion-row>
            </div>
            <br/>
            <h5 class="align-with-ion-item no-margin-bottom">
              Questions de récupération de mot de passe
            </h5>
            <ion-item>
              <ion-label color="primary" stacked>Intitulé question</ion-label>
              <ion-input type="text" formControlName="question"></ion-input>
            </ion-item>
            <div class="input-error" *ngIf="questionCtrl.touched && questionCtrl.hasError('required')">
                L' intitulé de la question est requis
            </div>
            <ion-item>
              <ion-label color="primary" stacked>Réponse question</ion-label>
              <ion-input type="text" formControlName="answer"></ion-input>
            </ion-item>
            <div class="input-error" *ngIf="answerCtrl.touched && answerCtrl.hasError('required')">
              La réponse à la question est requise
            </div>
            <div *ngIf="isUpdating">
              <br/>
              <br/>
              <br/>
              <ion-item>
                <ion-label color="primary" stacked>Donnez votre mot de passe pour validation</ion-label>
                <ion-input type="text" formControlName="validatePassword"></ion-input>
              </ion-item>
              <div class="input-error" *ngIf="validatePasswordCtrl.touched && validatePasswordCtrl.hasError('required')">
                Le mot de passe pour valider la modification de compte est requise
              </div>
            </div>
            <br/>
            <button ion-button type="submit" [disabled]="createAccountForm.invalid">{{isUpdating ? "Mettre à jour" : "Suivant"}} <ion-icon *ngIf="!isUpdating" name="arrow-forward"></ion-icon></button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
